# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking'].values

# Display a sample of y
y[0:5]

array([5, 5, 5, 6, 5], dtype=int64)

In [5]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns='credit_ranking').copy()

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Scale the features of the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model
n_inputs = X_train_scaled.shape[1]

# Review the number of features
n_inputs

11

In [9]:
# Define the number of neurons in the output layer
n_output_neurons = 2

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_L1 = (n_inputs + n_output_neurons) // 2

# Review the number hidden nodes in the first layer
print(hidden_nodes_L1)

6

In [11]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_L2 = hidden_nodes_L1 // 2

# Review the number hidden nodes in the second layer
print(hidden_nodes_L2)

3

In [12]:
# Define the number of hidden nodes for the third hidden layer
#hidden_nodes_L3 = 2

# Review the number of hidden nodes in the third layer
#print(hidden_nodes_L3)

In [13]:
# Create the Sequential model instance
model = Sequential()

In [14]:
# Add the first hidden layer
model.add(Dense(units=hidden_nodes_L1, input_dim=n_inputs, activation='selu'))

In [15]:
# Add the second hidden layer
model.add(Dense(units=hidden_nodes_L2, activation='selu'))

In [16]:
# Add the third hidden layer
#model.add(Dense(units=hidden_nodes_L3, activation='elu'))

In [17]:
# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(units=1, activation='linear'))

In [18]:
# Display the Sequential model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [19]:
# Compile the Sequential model
model.compile(loss="mse", optimizer="adam", metrics=["mse"])

In [20]:
# Fit the model using 50 epochs and the training data
model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 3ms/step - loss: 33.3195 - mse: 33.3195
Epoch 2/50
38/38 [==============================] - 0s 3ms/step - loss: 31.1083 - mse: 31.1083
Epoch 3/50
38/38 [==============================] - 0s 3ms/step - loss: 29.0897 - mse: 29.0897
Epoch 4/50
38/38 [==============================] - 0s 3ms/step - loss: 26.9713 - mse: 26.9713
Epoch 5/50
38/38 [==============================] - 0s 3ms/step - loss: 24.4701 - mse: 24.4701
Epoch 6/50
38/38 [==============================] - 0s 3ms/step - loss: 21.4011 - mse: 21.4011
Epoch 7/50
38/38 [==============================] - 0s 3ms/step - loss: 17.7482 - mse: 17.7482
Epoch 8/50
38/38 [==============================] - 0s 2ms/step - loss: 13.6956 - mse: 13.6956
Epoch 9/50
38/38 [==============================] - 0s 2ms/step - loss: 9.7611 - mse: 9.7611
Epoch 10/50
38/38 [==============================] - 0s 3ms/step - loss: 6.4201 - mse: 6.4201
Epoch 11/50
38/38 [==============================] - 0s 3ms/step - loss: 4.0725 - mse: 4.0725
Epoch 12/50
38/38 [==============================] - 0s 3ms/step - loss: 2.6579 - mse: 2.6579
Epoch 13/50
38/38 [==============================] - 0s 3ms/step - loss: 1.8424 - mse: 1.8424
Epoch 14/50
38/38 [==============================] - 0s 3ms/step - loss: 1.3454 - mse: 1.3454
Epoch 15/50
38/38 [==============================] - 0s 3ms/step - loss: 1.0649 - mse: 1.0649
Epoch 16/50
38/38 [==============================] - 0s 3ms/step - loss: 0.8911 - mse: 0.8911
Epoch 17/50
38/38 [==============================] - 0s 2ms/step - loss: 0.7807 - mse: 0.7807
Epoch 18/50
38/38 [==============================] - 0s 3ms/step - loss: 0.7037 - mse: 0.7037
Epoch 19/50
38/38 [==============================] - 0s 3ms/step - loss: 0.6530 - mse: 0.6530
Epoch 20/50
38/38 [==============================] - 0s 3ms/step - loss: 0.6175 - mse: 0.6175
Epoch 21/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5882 - mse: 0.5882
Epoch 22/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5673 - mse: 0.5673
Epoch 23/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5550 - mse: 0.5550
Epoch 24/50
38/38 [==============================] - 0s 4ms/step - loss: 0.5431 - mse: 0.5431
Epoch 25/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5327 - mse: 0.5327
Epoch 26/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5225 - mse: 0.5225
Epoch 27/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5151 - mse: 0.5151
Epoch 28/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5106 - mse: 0.5106
Epoch 29/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5045 - mse: 0.5045
Epoch 30/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5013 - mse: 0.5013
Epoch 31/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4930 - mse: 0.4930
Epoch 32/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4886 - mse: 0.4886
Epoch 33/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4844 - mse: 0.4844
Epoch 34/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4805 - mse: 0.4805
Epoch 35/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4778 - mse: 0.4778
Epoch 36/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4730 - mse: 0.4730
Epoch 37/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4690 - mse: 0.4690
Epoch 38/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4680 - mse: 0.4680
Epoch 39/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4643 - mse: 0.4643
Epoch 40/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4583 - mse: 0.4583
Epoch 41/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4567 - mse: 0.4567
Epoch 42/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4525 - mse: 0.4525
Epoch 43/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4493 - mse: 0.4493
Epoch 44/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4469 - mse: 0.4469
Epoch 45/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4447 - mse: 0.4447
Epoch 46/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4449 - mse: 0.4449
Epoch 47/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4380 - mse: 0.4380
Epoch 48/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4368 - mse: 0.4368
Epoch 49/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4336 - mse: 0.4336
Epoch 50/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4321 - mse: 0.4321

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [21]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.4544 - mse: 0.4544 - 248ms/epoch - 19ms/step
Loss: 0.4544376730918884, Accuracy: 0.4544376730918884

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [22]:
# Set the model's file path
file_path = "student_loans.h5"

# Export your model to a HDF5 file
model.save(file_path)

C:\Users\matthew.field\Anaconda3\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [23]:
# Import the load_model function from the tensorflow.keras.models module
from tensorflow.keras.models import load_model

# Set the model's file path
file_path = "student_loans.h5"

# Load the model to a new object
nn_model = load_model(file_path)

### Step 2: Make predictions on the testing data.

In [24]:
# Make predictions on the testing data
predictions = nn_model.predict(X_test_scaled)

13/13 [==============================] - 0s 2ms/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [25]:
# Create a DataFrame to compare the predictions with the actual values
results_df = pd.DataFrame({
    "Actual": y_test,
    "Predicted": predictions.ravel()
})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [26]:
# Display sample data
results_df.head()

   Actual  Predicted
0       6   6.130570
1       5   5.443592
2       8   5.640455
3       4   5.129806
4       5   5.150903